<!doctype html>
<title>笑顔きりとり君</title>
<h1>笑顔の瞬間を切り取り</h1>
<p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</p>
{% if filename %}
<div style="margin: 10px auto;">
	<video autoplay="autoplay" controls="controls" preload="preload" width="400px">
		<source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"/>
	</video>
</div>
{% endif %}
<form method="post" action="/upload" enctype="multipart/form-data">
	<dl>
		<p>
			<input type="file" name="file" autocomplete="off" accept="video/*">
		</p>
	</dl>
	<p>
		<input type="submit" value="送信">
	</p>
</form>
<form method="post" action="/execute" enctype="multipart/form-data">
	<p>
		<input type="submit" value="実行">
	</p>
</form>